# https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack
---

- set_fact:
    master_ip_internal: "{{ansible_ens3.ipv4.address}}"
- debug: msg="{{master_ip_internal}}"

- name: retrieve mailhog ClusterIP
  #become_user: ubuntu
  command:
    cmd: kubectl get services -n email mailhog -o=jsonpath="{.spec.clusterIP}"
  register: mailhog_cluster_ip
- name: retrieve mailhog SMTP port
  #become_user: ubuntu
  command:
    cmd: kubectl get services -n email mailhog -o=jsonpath="{.spec.ports[?(@.name=='tcp-smtp')].port}"
  register: mailhog_smtp_port

- set_fact:
    smtp_host_port: "{{mailhog_cluster_ip.stdout}}:{{mailhog_smtp_port.stdout}}"
- debug: msg="{{smtp_host_port}}"



# helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
# helm show values prometheus-community/kube-prometheus-stack | tee prom-stack.yaml
# https://docs.ansible.com/ansible/latest/collections/kubernetes/core/helm_module.html#ansible-collections-kubernetes-core-helm-module
- name: Add kube-prometheus-stack helm repo
  kubernetes.core.helm_repository:
    name: prometheus-community
    repo_url: https://prometheus-community.github.io/helm-charts

- name: status of kube-prometheus-stack
  kubernetes.core.helm_info:
    name: prom-stack
    release_namespace: prom
  register: helm_info
- debug:
    msg: "{{ helm_info.status.status }}"
  # need conditional or fallback because uninstalled helm chart does not have nested variable
  when: helm_info.status is defined

- copy:
    src: "{{item}}"
    dest: /tmp/.
    mode: 0666
  loop:
    - email.default.html
    - email.default.txt

- template:
    src: prom-sparse.yaml
    dest: /tmp/prom-sparse.yaml
    mode: 0666

- name: create prom ns
  kubernetes.core.k8s:
    state: present
    #kubeconfig: "{{KUBECONFIG}}"
    name: prom
    kind: Namespace

- name: Deploy kube-prometheus-stack with set-file params for templates
  command:
    cmd: helm {{ "upgrade" if helm_info.status is defined else "install" }} --namespace prom -f prom-sparse.yaml prom-stack prometheus-community/kube-prometheus-stack --set-file alertmanager.templateFiles.{{"email\\.default\\.html\\.tmpl"}}=email.default.html --set-file alertmanager.templateFiles.{{"email\\.default\\.txt\\.tmpl"}}=email.default.txt
    chdir: /tmp
  register: helm_cmd
  when: true
- debug: msg="{{ helm_cmd|default('') }}"

- name: apply ServiceMonitor to hello world service
  kubernetes.core.k8s:
    state: present
    #kubeconfig: "{{KUBECONFIG}}"
    src: golang-hello-world-web-servicemonitor.yaml
