---
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: gateway-ingressgateway-secondary
spec:
  selector:
    istio: "{{istio_ingressgateway_secondary_selector}}"
  servers:
  - port:
      number: 80
      name: http-secondary
      protocol: HTTP
    # NOTE: if using GCP LB, SNI names are not passed through. 
    # You would need to use '*' in Gateway, and specify hostnames at VirtualService instead
    # https://cloud.google.com/security/encryption-in-transit#secure_backend_protocol_considerations
    hosts: {{ cert_domains_secondary_ingress | to_json }}
  - port:
      name: https-secondary
      number: 443
      protocol: HTTPS
    tls:
      mode: SIMPLE
      credentialName: tls-secondary-credential
    # NOTE: if using GCP LB, SNI names are not passed through. 
    # You would need to use '*' in Gateway, and specify hostnames at VirtualService instead
    hosts: {{ cert_domains_secondary_ingress | to_json }}
